@{
    ViewBag.Title = "Прием граждан";
    Layout = "~/Views/_Layout.cshtml";
}

<h2 class="text-center">Прием граждан</h2>
<p><strong>Главный врач</strong><br />Криваткин Сергей Львович<br />Часы приема: 2-ой и 4-ый вторник месяца с 14.00 до 15.00<br /><abbr title="Телефон">Т:</abbr> (831)253-42-32</p>
<p><strong>Заведующая поликлиникой</strong><br />Макарова Людмила Михайловна<br />Часы приема: еженедельно понедельник и среда с 11.00 до 14.00<br /><abbr title="Телефон">Т:</abbr> (831)253-06-82</p>
<p><strong>Заместитель главного врача по КЭР</strong><br />Пегушина Наталья Александровна<br />Часы приема: 1-ый и 3-ий четверг месяца с 14.00 до 15.00<br /><abbr title="Телефон">Т:</abbr> (831)253-59-86</p>