@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/_Layout.cshtml";
}
        <h2 class="text-center">Контакты</h2>
        <address>
            <strong>Государственное бюджетное учреждение здравоохранения Нижегородской области «Городская больница № 24 Автозаводского района г. Нижнего Новгорода»</strong><br />
            Aдрес: 603053, г. Нижний Новгород, ул. Героя Васильева, д. 52<br />
            Главный врач: Криваткин Сергей Львович<br />
            <abbr title="Телефон/факс">Т:</abbr> (831) 253-42-32<br />
            <abbr title="Регистратура">Т:</abbr> (831) 253-66-11, (831) 253-73-00<br />
            <abbr title="Предварительная запись">Т:</abbr> (831) 253-77-57<br />
            <abbr title="Электронная почта">E-mail:</abbr><a href="mailto:Больница24"> info@24bolnica.ru</a>, <a href="mailto:Больница24">b24nn@yandex.ru</a><br />
        </address>
        <address>
            <strong>Министерство здравоохранения Нижегородской области</strong><br />
            Адрес: 603005, г. Нижний Новгород, ул. Нестерова, д. 7<br />
            <abbr title="Телефон">Т:</abbr> (831) 435-31-20<br />
            <abbr title="Факс">Т:</abbr> (831) 439-09-65<br />
            <a href="http://zdrav-nnov.ru/" target="_blank">Официальная страница</a><br />
            <a href="http://www.government-nnov.ru/?id=1581" target="_blank">Страница министерства на сайте правительства Нижегородской области</a><br />
        </address>
        <address>
            <strong>Управление Росздравнадзора по Нижегородской области</strong><br />
            Адрес: 603006, г. Нижний Новгород, ул. Варварская, д. 32 лит. А<br />
            <abbr title="Телефон">Т:</abbr> (831) 411-87-70, (831) 419-92-04<br />
            <abbr title="Факс">Т:</abbr> (831) 411-84-24<br />
            <abbr title="Электронная почта">E-mail:</abbr><a href="mailto:РосЗдравНадзор"> zdravnadzornnov@yandex.ru</a><br />
        </address>
        <address>
            <strong>Медицинский информационно-аналитический центр</strong><br />
            Директор: Коновалов Алексей Андреевич - <abbr title="Телефон">Т:</abbr> (831) 435-57-50<br />
            Зам. директора по информатике: Чиненкова Людмила Владимировна - <abbr title="Телефон">Т:</abbr> (831) 435-57-34<br />
            <a href="http://miac.nnov.ru/" target="_blank">Официальная страница</a><br />
        </address>
        <address>
            <strong>Министерство здравоохранения Российской Федерации</strong><br />
            <a href="http://www.rosminzdrav.ru/" target="_blank">Официальная страница</a><br />
        </address>
        <address>
            <strong>Федеральная служба по надзору в сфере здравоохранения</strong><br />
            <a href="http://www.roszdravnadzor.ru/" target="_blank">Официальная страница</a><br />
        </address>
        <address>
            <strong>Территориальный фонд обязательного медицинского страхования Нижегородской области</strong><br />
            <a href="http://www.tfoms.nnov.ru/" target="_blank">Официальная страница</a><br />
        </address>