@{
    ViewBag.Title = "Схема проезда";
    Layout = "~/Views/_Layout.cshtml";
}

<h2 class="text-center">Схема проезда</h2>
<div>
    <p>Поликлиника</p>
    г. Нижний Новгород, ул. Дьяконова, д. 11б
    Автобусы: 73, 69, 64, 65, 32, 11
    Маршрутные такси: т117, т98, т83, т85, т65, т138, т37, т115
    Троллейбус: 2
    До остановки Никольский собор. Здание поликлиники находится за ТЦ "Новый Век".
    <p>Стационар</p>
    г. Нижний Новгород, ул. Героя Васильева, д. 52
    Автобусы: 11, 31, 32, 58, 85
    Маршрутные такси: т23, т25, т49, т113, т115
    До остановки Аптека.
</div>