@{
    ViewBag.Title = "Правила госпитализации";
    Layout = "~/Views/_Layout.cshtml";
}

        <h2 class="text-center">Правила госпитализации</h2>
        <p class="text-justify">При направлении на стационарное лечение в ГБУЗ НО "Городская больница №24" необходимо пройти стандартное медицинское обследование:</p>
            <ul class="text-justify">
                <li>общий анализ мочи</li>
                <li>бщий анализ крови</li>
                <li>сахар крови</li>
                <li>сахар крови</li>
                <li>биохимический анализ крови</li>
                <li>ЭКГ</li>
                <li>ФЛГ</li>
            </ul>
        <p class="text-justify">Направление на госпитализацию оформляется врачом участковым терапевтом или врачом-специалистом при наличии показаний.</p>

