@{
    ViewBag.Title = "Отделение сестринского ухода";
    Layout = "~/Views/_Layout.cshtml";
}

<h2 class="text-center">Отделение сестринского ухода</h2>
<p class="text-justify">На базе ГБУЗ НО "Городская больница №24" функционирует отделение сестринского ухода на 50 коек. Принимаются пациенты, способные обслуживать себя самостоятельно. Софинансирование пребывания осуществляется путем добровольных пожертвований.</p>
<p class="text-justify">В стационаре на ул. Героя Васильева, д. 52 функционируют койки дневного пребывания для пациентов с неврологическими - 39 и терапевтическими диагнозами - 40.</p>
<p class="text-justify">В поликлинике на ул. Дьяконова, д. 11б также имеются койки дневного пребывания - 6 коек, работающих в 2 смены.</p>
<p class="text-justify">Желающие получить лечение в вышеуказанных отделениях направляются туда участковым терапевтом.</p>