@{
    ViewBag.Title = "Права и обязанности граждан";
    Layout = "~/Views/_Layout.cshtml";
}

        <h2 class="text-center">Права и обязанности граждан</h2>
        <blockquote class="text-right">"Об основах охраны здоровья граждан в Российской Федерации".<br />Выдержка из ФЗ №323</blockquote>
        <p class="text-justify"><strong>Статья 18.</strong> Право на охрану здоровья.</p>
        <ol class="text-justify">
            <li>Каждый имеет право на охрану здоровья.</li>
            <li>Право на охрану здоровья обеспечивается охраной окружающей среды, созданием безопасных условий труда, благоприятных условий труда, быта, отдыха, воспитания и обучения граждан, производством и реализацией продуктов питания соответствующего качества, качественных, безопасных и доступных лекарственных препаратов, а также оказанием доступной и качественной медицинской помощью.</li>
        </ol>
        <p class="text-justify"><strong>Статья 19.</strong> Право на медицинскую помощь.</p>
        <ol class ="text-justify">
            <li>Каждый имеет право на медицинскую помощь.</li>
            <li>Каждый имеет право на медицинскую помощь в гарантированном объеме, оказываемую без взимания платы в соответствии с программой государственных гарантий бесплатного оказания гражданам медицинской помощи, а также на получение платных медицинских услуг и иных услуг, в том числе в соответствии с договором добровольного медицинского страхования.</li>
            <li>Право на медицинскую помощь иностранных граждан, проживающих и пребывающих на территории Российской Федерации, устанавливается законодательством Российской Федерации и соответствующими международными договорами Российской Федерации. Лица без гражданства, постоянно проживающие в Российской Федерации, пользуются правом на медицинскую помощь наравне с гражданами Российской Федерации, если иное не предусмотрено международными договорами Российской Федерации.</li>
            <li>Порядок оказания медицинской помощи иностранным гражданам определяется Правительством Российской Федерации.</li>
            <li>
                Пациент имеет право на:
                <ul class="text-justify">
                    <li>выбор врача и выбор медицинской организации в соответствии с настоящим Федеральным законом;</li>
                    <li>профилактику, диагностику, лечение, медицинскую реабилитацию в медицинских организациях в условиях, соответствующих санитарно-гигиеническим требованиям;</li>
                    <li>получение консультаций врачей-специалистов;</li>
                    <li>облегчение боли, связанной с заболеванием и (или) медицинским вмешательством, доступными методами и лекарственными препаратами;</li>
                    <li>получение информации о своих правах и обязанностях, состоянии своего здоровья, выбор лиц, которым в интересах пациента может быть передана информация о состоянии его здоровья;</li>
                    <li>получение лечебного питания в случае нахождения пациента на лечении в стационарных условиях;</li>
                    <li>защиту сведений, составляющих врачебную тайну;</li>
                    <li>отказ от медицинского вмешательства;</li>
                    <li>возмещение вреда, причиненного здоровью при оказании ему медицинской помощи;</li>
                    <li>допуск к нему адвоката или законного представителя для защиты своих прав;</li>
                    <li>допуск к нему священнослужителя, а в случае нахождения пациента на лечении в стационарных условиях - на предоставление условий для отправления религиозных обрядов, проведение которых возможно в стационарных условиях, в том числе на предоставление отдельного помещения, если это не нарушает внутренний распорядок медицинской организации.</li>
                </ul>
            </li>
        </ol>
        <p class="text-justify"><strong>Статья 21.</strong> Выбор врача и медицинской организации.</p>
        <ol class="text-justify">
            <li>При оказании гражданину медицинской помощи в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи он имеет право на выбор медицинской организации в порядке, утвержденном уполномоченным федеральным органом исполнительной власти, и на выбор врача с учетом согласия врача. Особенности выбора медицинской организации гражданами, проживающими в закрытых административно-территориальных образованиях, на территориях с опасными для здоровья человека физическими, химическими и биологическими факторами, включенных в соответствующий перечень, а также работниками организаций, включенных в перечень организаций отдельных отраслей промышленности с особо опасными условиями труда, устанавливаются Правительством Российской Федерации.</li>
            <li>Для получения первичной медико-санитарной помощи гражданин выбирает медицинскую организацию, в том числе по территориально-участковому принципу, не чаще чем один раз в год (за исключением случаев изменения места жительства или места пребывания гражданина). В выбранной медицинской организации гражданин осуществляет выбор не чаще чем один раз в год (за исключением случаев замены медицинской организации) врача-терапевта, врача-терапевта участкового, врача-педиатра, врача-педиатра участкового, врача общей практики (семейного врача) или фельдшера путем подачи заявления лично или через своего представителя на имя руководителя медицинской организации.</li>
        </ol>
        <p class="text-justify"><strong>Статья 27.</strong> Обязанности граждан в сфере охраны здоровья.</p>
        <ol class="text-justify">
            <li>Граждане обязаны заботиться о сохранении своего здоровья.</li>
            <li>Граждане в случаях, предусмотренных законодательством Российской Федерации, обязаны проходить медицинские осмотры, а граждане, страдающие заболеваниями, представляющими опасность для окружающих, в случаях, предусмотренных законодательством Российской Федерации, обязаны проходить медицинское обследование и лечение, а также заниматься профилактикой этих заболеваний.</li>
            <li>Граждане, находящиеся на лечении, обязаны соблюдать режим лечения, в том числе определенный на период их временной нетрудоспособности, и правила поведения пациента в медицинских организациях.</li>
        </ol>