@{
    ViewBag.Title = "Стандарты оказания медицинской помощи";
    Layout = "~/Views/_Layout.cshtml";
}

        <h2 class="text-center">Стандарты оказания медицинской помощи</h2>
        <p class="text-justify">При оказании первичной медико-санитарной амбулаторной медицинской помощи в медицинских организациях объем диагностических и лечебных мероприятий для конкретного пациента определяется лечащим врачом в соответствии со стандартами медицинской помощи, утвержденными в установленном порядке.
        <p class="text-justify">Оказание первичной медико-санитарной амбулаторной медицинской помощи пациенту на дому включает:</p>
        <ul class="text-justify">
            <li>осмотр пациента;</li>
            <li>постановку предварительного диагноза, составление плана обследования и лечения, постановку клинического диагноза, решение вопроса о трудоспособности и режиме;</li>
            <li>оформление медицинской документации;</li>
            <li>представление необходимой информации о состоянии его здоровья и разъяснение порядка проведения лечебно-диагностических и профилактических мероприятий;</li>
            <li>организацию соответствующих профилактических и санитарно-гигиенических мероприятий.<li>
        </ul>
        <p class="text-justify">Направление пациента на госпитализацию в стационар с круглосуточным пребыванием в плановом порядке осуществляется лечащим врачом в соответствии с клиническими показаниями, требующими круглосуточного медицинского наблюдения, применения интенсивных методов лечения, на лечение в дневных стационарах всех типов - в соответствии с клиническими показаниями, не требующими круглосуточного медицинского наблюдения. Перед направлением пациента на стационарное лечение должно быть проведено догоспитальное обследование в соответствии со стандартами медицинской помощи, утвержденными в установленном порядке. В направлении установленной формы должны содержаться данные объективного обследования, результаты дополнительных исследований.</p>
        <p class="text-justify">В целях обеспечения прав граждан на получение бесплатной медицинской помощи устанавливаются предельные сроки ожидания:</p>
        <ul class="text-justify">
            <li>оказания первичной медико-санитарной помощи в неотложной форме - не более 2 часов с момента обращения;</li>
            <li>приема врачей-специалистов при оказании первичной специализированной медико-санитарной помощи в плановой форме - не более 10 рабочих дней с момента обращения;</li>
            <li>проведения диагностических инструментальных и лабораторных исследований при оказании первичной медико-санитарной помощи в плановой форме - не более 10 рабочих дней;</li>
            <li>проведения компьютерной томографии, магнитно-резонансной томографии и ангиографии при оказании первичной медико-санитарной помощи в плановой форме - не более 30 рабочих дней;</li>
            <li>оказания специализированной, за исключением высокотехнологичной, медицинской помощи в стационарных условиях в плановой форме - не более 30 дней с момента выдачи лечащим врачом направления на госпитализацию (при условии обращения пациента за госпитализацией в рекомендуемые лечащим врачом сроки).</li>
        </ul>
        <p class="text-justify">При оказании первичной медико-санитарной амбулаторной медицинской помощи в медицинских организациях предусматривается возможность очередности для плановых больных на прием к врачу, которая не может быть более 5 рабочих дней.</p>
        <p class="text-justify">Кроме того, предусматривается возможность очередности на плановую госпитализацию до 10 суток (за исключением специализированной, в том числе высокотехнологичной медицинской помощи).</p>