@{
    ViewBag.Title = "Обязательное медицинское страхование";
    Layout = "~/Views/_Layout.cshtml";
}

        <h2 class="text-center">Обязательное медицинское страхование</h2>
        <p class="text-justify"><strong>Статья 45.</strong> Полис обязательного медицинского страхования.</p>
        <ul class="text-justify">
            <li>Полис обязательного медицинского страхования является документом, удостоверяющим право застрахованного лица на бесплатное оказание медицинской помощи на всей территории Российской Федерации в объеме, предусмотренном базовой программой обязательного медицинского страхования.</li>
            <li>Полис обязательного медицинского страхования обеспечивается федеральным электронным приложением, содержащимся в универсальной электронной карте, в соответствии с Федеральным законом от 27 июля 2010 года N 210-ФЗ "Об организации предоставления государственных и муниципальных услуг".</li>
        </ul>
        <p class="text-justify">Единые требования к полису обязательного медицинского страхования устанавливаются правилами обязательного медицинского страхования.</p>
        <p class="text-justify"><strong>Статья 46.</strong> Порядок выдачи полиса обязательного медицинского страхования застрахованному лицу.</p>
        <ul class="text-justify">
            <li>Для получения полиса обязательного медицинского страхования застрахованное лицо лично или через своего представителя подает в порядке, установленном правилами обязательного медицинского страхования, заявление о выборе страховой медицинской организации, предусмотренное пунктом 2 части 2 статьи 16 настоящего Федерального закона, в страховую медицинскую организацию или при ее отсутствии в территориальный фонд.</li>
            <li>В день получения заявления о выборе страховой медицинской организации страховая медицинская организация или при ее отсутствии территориальный фонд выдает застрахованному лицу или его представителю полис обязательного медицинского страхования либо временное свидетельство в случаях и в порядке, которые определяются правилами обязательного медицинского страхования.</li>
        </ul>
        <table class="table table-bordered text-center">
            <tr>
                <th colspan="4" class="text-center">Список страховых медицинских организаций (СМО), осуществляющих работу в системе обязательного медицинского страхования (ОМС) на территории Нижегородской области</th>
            </tr>
            <tr>
                <th class="text-center">СМО</th>
                <th class="text-center">Адрес</th>
                <th class="text-center">Директор</th>
                <th class ="text-center">E-mail</th>
            </tr>
            <tr >
                <td>Филиал ООО "Страховая компания "Ингосстрах-М" в г.Н.Новгороде</td>
                <td>603000, Н. Новгород, ул. Новая, д. 34Б</td>
                <td>Алехина Светлана Павловна</td>
                <td><a href="mailto:Ингосстрах-М">igsnn@mts-nn.ru</a></td>
            </tr>
            <tr>
                <td>Филиал ЗАО "Капитал медицинское страхование" в г.Н.Новгороде</td>
                <td>603000, Н. Новгород, ул. Белинского, д. 32</td>
                <td>Платонова Татьяна Владимировна</td>
                <td><a href="mailto:Капитал">Nizhnij_Novgorod@kms-oms.ru</a></td>
            </tr>
            <tr>
                <td>Нижегородский филиал ОАО "РОСНО-МС"</td>
                <td>603000, Н. Новгород, ул. Славянская, д. 8</td>
                <td>Емелина Вера Александровна</td>
                <td><a href="mailto:РОСНО-МС">rosnoms@rosno.nnov.ru</a></td>
            </tr>
            <tr>
                <td>Нижегородский филиал ООО "Страховая медицинская компания "РЕСО-Мед"</td>
                <td>603006, Н. Новгород, ул. Ошарская, д. 18/1</td>
                <td>Кулакова Ирина Михайловна</td>
                <td><a href="mailto:РЕСО-Мед">resomednn@gmail.com</a></td>
            </tr>
        </table>